.main-navigation {
    ul {
        // display:flex;
        // padding: 0 10px;
        li:not(:last-child) { 
            border-right: solid 1px #fff;
        }

        li {
            line-height: 1;
        }
    }
    
    
    
    

}