.site-header {
    img {
        height: 50px;
        margin-top: 30px;
    }

    @include tablet {
        img {
            height: 80px;
        }
    }
    @include desktop {
        .site-branding {
            text-align: center;
        }
        img {
            height: 110px;
        }
    }
}