
.home-quotes {
    font-size: $font-size + 4;
    .entry-meta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .quote-author {
            padding-right: 5px;
        }
        span {
            padding: 0 5px;
        }
        a {
            font-style: italic;
        } 
    }
    .quote-para {
        p {
            @include tablet {
                font-size: $font-size + 10;
            }
            @include desktop {
                font-size: $font-size + 25;
            }
        }
    } 
}
.new-quote-button {
    height: 40px;
    width: 200px;
    box-shadow: none;
    text-shadow: none;
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid $brand-link-color;
    color: $brand-link-color;
    font-size: $font-size ;
    font-weight: 500;


    @include tablet {
        height: 50px;
        width: 240px;
        font-size: $font-size +2;
    }
    @include desktop {
        height: 50px;
        width: 240px;
        font-size: $font-size +2;
        margin: 50px 200px 0 200px;
    }

}
.new-quote-button:hover {
    box-shadow: none;
    border-color: $brand-link-color-hover;
    color: $brand-link-color-hover;
}

.new-quote-button:focus {
    display: none;
}
