/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */


body {
    background-color: $site-background-color;
    color: $font-color;
    font-weight: 100;
    font-size: $font-size;

}

.container {
    margin: 0 auto;
    max-width: 1080px;
    padding: 10px;
    height: 100vh;

}

h1, h2 {
    font-weight: 400;
}


.home-quotes {
    font-size: 20px;
    
}
.new-quote-button {
    height: 40px;
    width: 200px;
    box-shadow: none;
    text-shadow: none;
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid $brand-link-color;
    color: $brand-link-color;
    font-size: 14px;
    font-weight: 500;

}
.new-quote-button:hover {
    box-shadow: none;
    border-color: $brand-link-color-hover;
}


.archives-links {
    display: flex;
    flex-wrap: wrap;
    .archives-block {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        .archives-terms {
            padding: 5px 10px;
        }
    }
}


.quote-submission-form {
    div {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
     }
    input, textarea {
        margin-top: 10px;
        width: 60%;
        background-color: transparent;
        border: 2px solid $brand-link-color;
        color: $font-color;
    }
    input:focus {
        color: $font-color;
    }
    
    textarea {
        height :80px;
        width: 100%;
        color: $font-color;
    }
    .submit-quote-button {
        height: 40px;
        width: 150px;
        box-shadow: none;
        text-shadow: none;
    }
    .submit-quote-button:hover {
        box-shadow: none;
        border-color: $brand-link-color-hover;
    }

    input[value] {
        color: $brand-link-color;
        font-weight: 500;
        font-size: 14px;
    }
}
  
