.search {
    .page-title {
        border-bottom: 1px dotted #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}
.number-pagination {
    .page-numbers {
        padding: 4px;
    }
}